{{#with global}}
<div class="container-fluid" id="galeria">
  <div class="row">
    <div class="col-12">
      <h1 class="seccion-titulo">{{galeria_titulo}}</h1>
      <p class="seccion-descripcion">{{galeria_descripcion}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="album">
        <div class="row">

          {{#each album as |album albumId|}}
          {{!-- <div class="row">
            <h3 class="titulo">{{titulo}}</h3>
          </div> --}}
          <div class="col-md-4">
            <div class="imagenes">
              <a data-fancybox-trigger="gallery-{{albumId}}" href="javascript:;" class="">
                <img class="imagen" src="{{this.imagenes.0.imagen}}" alt="" />
              </a>
              <div class="rollover-gal">
                <img src="/assets/img/mas.svg" alt="">
              </div>
            </div>
          </div>


          {{#each imagenes}}
          <div class="col-4 hidden">
            <div class="imagenes">
              <a href="{{imagen}}" data-fancybox="gallery-{{albumId}}" class="">
                <img class="imagen" src="{{imagen}}" alt="" />
              </a>
              <div class="rollover-gal">
                <img src="/assets/img/mas.svg" alt="">
              </div>
            </div>
          </div>
          {{/each}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/with}}