<div class="seccion" id="inmueble-intro">
  <div class="contenedor section">
    {{!-- SLIDE INMUEBLE --}}
    <div class="slide cont-principal" style="background-image: url({{imagen_principal}})">
      <div>
        <h1 class="titulo">{{titulo1}}<br>{{titulo2}}</h1>
      </div>
      <div>
        <h3 class="comentario">{{comentario1}}<br>{{comentario2}}</h3>
      </div>
    </div>
  </div>
  <div class="breadcrumb bread-detalle" id="breadcrumb">
    <p>
      <a href="/">INICIO</a> > <a href="/en-venta"> EN VENTA </a> > 
    </p>
  </div>
  {{#>agendacita}}
  {{/agendacita}}
</div>
<script>
  new fullpage("#inmueble-intro", {
    licenseKey: "OPEN-SOURCE-GPLV3-LICENSE",
    autoScrolling: false,
    fitToSection: false,
  });
</script>