<div class="container" id="inmueble-descripcion">
  <div class="row">
    <div class="col-5">
      <div class="inmueble-izquierdo">
        <div class="row">
          <div class="col-12">
            <p class="titulo">{{titulo1}}<br>{{titulo2}}</p>
            <p class="subtitulo-1">{{subtitulo}}</p>
            <p class="comentario-1">{{descripcion}}</p>
            <div class="row">
              <div class="col-4">
                <p class="inmueble-1">Ubicación:</p>
              </div>
              <div class="col-8">
                <p class="inmueble-2">{{ubicacion}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="inmueble-1">Dirección:</p>
              </div>
              <div class="col-8">
                <p class="inmueble-2">{{direccion}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="inmueble-1">Construcción:</p>
              </div>
              <div class="col-8">
                <p class="inmueble-2">{{construccion}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="inmueble-1">Terreno:</p>
              </div>
              <div class="col-8">
                  <p class="inmueble-2">{{terreno}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="inmueble-1">Plantas:</p>
              </div>
              <div class="col-8">
                <p class="inmueble-2">{{plantas}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="inmueble-1">Recámaras:</p>
              </div>
              <div class="col-8">
                <p class="inmueble-2">{{recamaras}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="inmueble-1">Baños:</p>
              </div>
              <div class="col-8">
                <p class="inmueble-2">{{banos}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="inmueble-1">Inversión:</p>
              </div>
              <div class="col-8">
                <p class="inmueble-2">{{inversion}}</p>
              </div>
            </div>
            
            <div class="row">
              <div class="col-12">
                <p class="subtitulo-2">CARACTERÍSTICAS DE TU NUEVA CASA</p>
                {{#each caracteristicas_casa}}
                  <li>
                    <p class="comentario-2">{{caracteristica}}</p>
                  </li>
                {{/each}}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="subtitulo-3">SOBRE EL FRACCIONAMIENTO</p>
                {{#each caracteristicas_fracc}}
                  <li>
                    <p class="comentario-2">{{caracteristica}}</p>
                  </li>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="inmueble-derecho">
        <div class="row">
          <div class="col-12">
            {{#each imagenes}}
            <img class="inmueble-imagen" src="{{imagen}}" alt="">
            {{/each}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row">
              
                <div class="inmueble-social facebook">
                  <img src="/assets/img/social-f.svg" alt="">
                </div>
                <div class="inmueble-social twitter">
                  <img src="/assets/img/social-t.svg" alt="">
                </div>
                <div class="inmueble-social whatsapp">
                  <img src="/assets/img/social-w.svg" alt="">
                </div>
                <div class="inmueble-social share">
                  <img src="/assets/img/social-s.svg" alt="">
                </div>
                <div class="inmueble-social mail">
                  <img src="/assets/img/social-m.svg" alt="">
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inmueble-galeria">
    <div class="row">
      <div class="col-12">
        <p class="titulo">PLANOS DE LA CASA</p>
        <div class="galeria">
          {{#each planos}}
          <img class="plano" src="{{plano}}" alt="">
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>