{{#inmueble}}
<div class="container-fluid" id="tendencias">
  <div class="row">
    <div class="col-12">
      <h1 class="seccion-titulo">TE PUEDE INTERESAR</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="album">
        <div class="row">
          {{#each this}}
          {{#if inmueble_entry.imagen_chica}}
          <div class="col-4">
            <div class="imagenes">
              <div class="imagen" style="background-image: url({{inmueble_entry.imagen_chica}});">
              </div>
              <a href="/inmueble/{{page_slug}}" class="rollover-gal">
                <img src="/assets/img/mas.svg" alt="">
              </a>
            </div>
            <p class="subtitulo">{{inmueble_entry.titulo1}} {{inmueble_entry.titulo2}}</p>
            <p class="comentario">{{inmueble_entry.comentario1}}<br>{{inmueble_entry.comentario2}}</p>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/inmueble}}